.content-module--content--3sEbK {
  max-width: 720px;
  margin: auto;
}
.content-module--content--3sEbK h1,
.content-module--content--3sEbK h2 {
  margin-top: 50px;
  color: #546fff;
}
.content-module--content--3sEbK li {
  margin-top: 20px;
}
.content-module--content--3sEbK img {
  max-width: 720px;
  max-height: 720px;
  width: 100%;
}
